{% extends 'blog_home/base.html' %}
{% block content %}
  <div class="card m-3" style="width: 44rem;">
    <div class="card-body">
      <h5 class="card-title">{{profile.user}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Joined at: {{profile.created_at}}</h6>
      <p class="card-text">First Name: {{profile.user.first_name}} </p>
      <p class="card-text">Last Name: {{profile.user.last_name}} </p>
      <p class="card-text">Email Address: {{profile.user.email}} </p>
    </div>
  </div>
{% endblock content %}
