{% extends 'blog_home/base.html' %}
{% block content %}
  <div class="container col-md-10">
    {% for post in Posts %}
    <div class="card m-3">
      <h5 class="card-header d-flex justify-content-between align-items-center">
        Author: <a href="user/profile/{{post.author}}"> {{ post.author}}</a>
        <div class="btn-group ml-auto">
          {% if post.author.username == request.user.username %}
          <a href="post/update/{{post.id}}"><button data-bs-toggle="modal" data-bs-target="#updateModal"
              class="btn btn-outline-primary m-2">update</button></a>
          <a href="post/delete/{{post.id}}"><button class="btn btn-outline-danger m-2">delete</button></a>
          {% endif %}
        </div>
      </h5>
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.content}}</p>
        <p class="text-muted">{{post.created_at}}</p>
      </div>

    {% endfor %}
{% endblock content %}