{% extends 'blog_home/base.html' %}
{% block content %}
{% for post in Posts %}
<div class="container m-1 col-md-8">
    <div class="card">
        <a href="user/profile/{{post.author}}">
          <h5 class="card-header">{{post.author}}</h5>
        </a>
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.content}}</p>
          <p class="text-muted">{{post.created_at}}</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}
