{% extends 'blog_home/base.html' %}
{% block content %}
  <div class="container col-md-6">
    <div class="mt-3">
      <div class="card">

        <form method="post" class="m-2">
          {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-primary m-2">Update</button>
            <a href="{% url 'blog-home' %}"><button type="submit" class="btn btn-primary m-2" >Go back</button></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}